
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Transrelate</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  <script>
   window.userToken = "<%= @user_token %>";
   console.log(userToken);
  </script>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
      <div class="col-4">
        <a class="navbar-brand">Transrelate</a>
      </div>
      <div class="col-8">
          <ul class="navbar-nav mr-auto">
            <%= link "Home", to: Routes.page_path(@conn, :home), class: "nav-link" %>
            <%= if @current_user do %>
              <%= link "New Room", to: Routes.room_path(@conn, :new), class: "nav-link "%>
            <% end %>
            <%# TODO: remove this link %>
            <%= link "Users", to: Routes.user_path(@conn, :index), class: "nav-link" %>
          </ul>
      </div>
      <div class="col-4 text-light">
        <%= if @current_user do %>
          User: <%= link(@current_user.username,
            to: Routes.user_path(@conn, :show, @current_user))%>
          (<%= link("Logout", to: Routes.session_path(@conn, :delete), method: :delete) %>)
        <% else %>
          <%= link("Login", to: Routes.session_path(@conn, :new)) %> |
          <%= link("Register", to: Routes.user_path(@conn, :new))%>
        <% end %>
      </div>
    </nav>
    <div>
      <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
    </div>
  </div>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
