<!-- Citation: taken largely from NatTuck lens application -->

<h1>Listing Photos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Filename</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for photo <- @photos do %>
    <tr>
      <td><%= photo.filename %></td>

    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Photo", to: Routes.photo_path(@conn, :new) %></span>
