<h1>New Room</h1>

<%= form_for @conn, "/chats", fn f -> %>
    <p className="loginText">Enter user name: <%= text_input f, :user %></p>
    <p className="loginText">Enter chatroom name: <%= text_input f, :name %></p>

    <p><%= submit "Enter chatroom", class: "btn btn-primary" %></p>

<% end %>

<span><%= link "Back", to: Routes.page_path(@conn, :home), class: "btn btn-outline-success my-2 my-sm-0" %></span>
