<script>
 window.chatName = "<%= @name %>";
 window.userLang = "<%= @lang %>";
</script>

<h1 class="display-4">Welcome to Chatroom: <%=@name%></h1>

<div id="root">
  React component loading...
</div>
