<h1>Home</h1>
<%= link "Create Room", to: Routes.room_path(@conn, :new) %>
<h1>Listing Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for room <- @rooms do %>
    <tr>
      <td><%= room.name %></td>
    </tr>
<% end %>
  </tbody>
</table>