<h1>Home</h1>
<%= link "Create Chat", to: Routes.room_path(@conn, :new), class: "btn btn-outline-success my-2 my-sm-0" %>
<h1>Listing Rooms</h1>


<%= for room <- @rooms do %>
    <li class="list-group-item">
      <%= link room.name, to: Routes.room_path(@conn, :show, room.id) %>
    </li>
<% end %>
