<%= form_for @conn, "/chats", fn f -> %>
    <p>Enter user name: <%= text_input f, :user %></p>
    <p>Enter chatroom name: <%= text_input f, :name %></p>

    <p><%= submit "Enter chatroom" %></p>
<% end %>
