$body-bg: rgb(12, 25, 29); // With scss, Bootstrap lets us override colors and stuff.
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');

#chat_window {
  background-color: #94ece41c;
  height: 600px;
  width: 100%;
  overflow: auto;
}

#chatInput {
  width: 100%;
  margin-top: 20px;
}

h1 {
  margin-left: 21%;
  color: rgb(248, 196, 137);
}

.message {
  color: rgb(248, 196, 137);
  margin-left: 10px;
  font-family: 'Kulim Park';
}

p {
  color: rgb(248, 196, 137);
}

.image {
  width: 25%;
  height: 25%;
}